# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env/

# Database
instance/
*.db

# Migrations 
migrations/versions/

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Flask specific
*.log
